<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zsh.blackcard">

    <uses-permission android:name="android.permission.MANAGE_USERS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- Umeng分享 -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <!-- 即构科技 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- 即构科技 -->
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:name=".BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.MainActivity"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".ui.WelcomeActivity"
            android:theme="@style/FullTheme"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@style/FullTheme"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="BUGLY_APP_CHANNEL"
            android:value="DEV" />
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="x44CZgW2VKxstNTFqe6zTYpgU5BbXr6r" />

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />

        <activity
            android:name="com.tencent.bugly.beta.ui.BetaActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:theme="@android:style/Theme.Translucent" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
        <!-- 友盟分享 -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="561cae6ae0f55abd990035bf" />
        <!-- 新浪分享 -->
        <activity
            android:name="com.umeng.socialize.media.WBShareCallBackActivity"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.sina.weibo.sdk.web.WeiboSdkWebActivity"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:windowSoftInputMode="adjustResize"></activity>
        <activity
            android:name="com.sina.weibo.sdk.share.WbShareTransActivity"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!-- QQ分享 -->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent100424468" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!-- alipay -->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="com.alipay.sdk.app.H5AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity android:name=".ui.BlackWeiboActivity" />
        <activity android:name=".ui.ShoppingCarActivity" />
        <activity android:name=".ui.AddressEditActivity" />
        <activity android:name=".ui.AddressManageActivity" />
        <activity android:name=".ui.SbActivity" />
        <activity android:name=".ui.SbMyActivity" />
        <activity android:name=".ui.OrderDetailsActivity" />
        <activity android:name=".ui.IntegralActivity" />
        <activity android:name=".ui.CommodityActivity" />
        <activity android:name=".ui.CustomMadeActivity" />
        <activity android:name=".ui.ConfirmOrderActivity" />
        <activity android:name=".ui.LogisticsDetailsActivity" />
        <activity android:name=".ui.IntegralbillsActivity" />
        <activity android:name=".ui.DiscountCouponActivity" />
        <activity android:name=".ui.DiscountExchangeActivity" />
        <activity android:name=".ui.CommonPassengerActivity" />
        <activity android:name=".ui.EatDrinkActivity" />
        <activity android:name=".ui.EatDrinkSetActivity" />
        <activity android:name=".ui.DetailsRequireActivity" />
        <activity android:name=".ui.home.HomeCruiseShipActivity" />
        <activity android:name=".ui.home.HomePlaneActivity" />
        <activity android:name=".ui.home.HomeCarDetailActivity" />
        <activity android:name=".ui.home.HomeEquestrianActivity" />
        <activity android:name=".ui.BlackCurrencyActivity" />
        <activity android:name=".ui.SbSetActivity" />
        <activity android:name=".ui.zgactivity.ZgHomeActivity" />
        <activity
            android:name=".ui.LoginActivity"
            android:theme="@style/FullTheme" />
        <activity android:name=".live.SingleAnchorActivity" />
        <activity android:name=".ui.home.HomeTrainActivity" />
        <activity
            android:name=".ui.home.HomeFoodHotelActivity"
            android:windowSoftInputMode="stateHidden|adjustPan|stateHidden" />
        <activity android:name=".view.selectcity.SelectCityActivity" />
        <activity android:name=".ui.home.HomeFoodDetailActivity" />
        <activity android:name=".ui.home.HomeHotelDetailActivity" />
        <activity android:name=".ui.MyFriendActivity" />
        <activity android:name=".ui.VipCenterActivity" />
        <activity android:name=".ui.CusCenterActivity" />
        <activity android:name=".ui.WalletCenterActivity" />
        <activity android:name=".ui.zgactivity.BlackSurplusActivity" />
        <activity android:name=".live.LiveRechargeActivity" />
        <activity android:name=".live.RewardMoneyActivity" />
        <activity android:name=".live.LiveRankActivity" />
        <activity android:name=".live.LiveRoomActivity" />
        <activity android:name=".live.LiveAnchorDetails" />
        <activity android:name=".ui.zgactivity.GameCenterActivity" />
        <activity android:name=".ui.MySettingActivity" />
        <activity android:name=".ui.HuoDongActivity" />
        <activity android:name=".ui.OrderCenterActivity" />
        <activity android:name=".ui.CircleCenterActivity" />
        <activity android:name=".ui.HouseCenterActivity" />
        <activity android:name=".ui.WalletCashActivity" />
        <activity android:name=".ui.CusCenterChatActivity" />
        <activity android:name=".ui.MyPowerActivity" />
        <activity android:name=".ui.ExChangeActivity" />
        <activity android:name=".ui.EatDrinkDetailActivity" />
        <activity android:name=".ui.zgactivity.GoodsCategoryActivity" />
        <activity
            android:name=".ui.home.HomeNewsActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.zgactivity.PersonalActivity" />
        <activity android:name=".live.AbMyFriendActivity" />
        <activity android:name=".live.AbMyContributionActivity" />
        <activity android:name=".live.AbMyTaskActivity" />
        <activity android:name=".live.AbMySignActivity" />
        <activity android:name=".ui.RegisterActivity" />
        <activity android:name=".ui.home.HomeMoreActivity" />
        <activity android:name=".ui.home.CommentActivity" />
        <activity android:name=".ui.home.CommentEditActivity" />
        <activity android:name=".ui.home.HomeKTVDetailActivity" />
        <activity android:name=".ui.MsgCenterActivity" />
        <activity android:name=".ui.MsgSysCenterActivity" />
        <activity android:name=".ui.MsgSysDetailsActivity" />
        <activity android:name=".ui.MsgCenterDetailsActivity" />
        <activity android:name=".ui.TicketSearchActivity" />
        <activity android:name=".ui.TicketSeatActivity" />
        <activity android:name=".ui.TicketAddActivity" />
        <activity android:name=".ui.CommodityDetailBannerActivity" />
        <activity android:name=".live.LiveOpenActivity" />
        <activity android:name=".ui.MyOrderActivity" />
        <activity android:name=".ui.CollectionActivity" />
        <activity
            android:name=".live.LiveAnchorDetails2"
            android:theme="@style/FullTheme" />
        <activity android:name=".live.VideoDetailsActivity" />
        <activity android:name=".live.VideoIngActivity" />
        <activity android:name=".live.AbMySettingActivity" />
        <activity android:name=".ui.home.HomeTopNewsDetailActivity" />
        <activity android:name=".ui.EatDrinkSetDetailActivity" />
        <activity android:name=".ui.OrderPayActivity" />
        <activity android:name=".ui.ZgPersonalTailorDetailActivity" />
        <activity android:name=".ui.zgactivity.ZgSearchActivity" />
        <activity android:name=".ui.home.HomeBarDetailActivity" />
        <activity android:name=".ui.home.HomePublicRecyclerActivity" />
        <activity android:name=".ui.home.HomePublicDetailActivity" />
        <activity android:name=".ui.home.HomeGloryServerDetailActivity" />
        <activity android:name=".ui.MyOrderOtherActivity" />
        <activity android:name=".live.LiveAnchorListActivity" />
        <activity android:name=".live.SingleAnchorPlayActivity" />
        <activity android:name=".ui.home.HomeScannerActivity" />
        <activity android:name=".ui.home.HomeScannerWebViewAvyivity" />
        <activity android:name=".ui.SbSendWeiBoActivity" />
        <activity android:name=".ui.CircleCenterCommentActivity" />
        <activity android:name=".ui.my.UserInfoActivity" />
        <activity android:name=".ui.my.NotificationActivity" />
        <activity android:name=".ui.my.SecurityActivity" />
        <activity android:name=".ui.my.SecurityLoginActivity" />
        <activity android:name=".ui.my.SecurityPayActivity" />
        <activity android:name=".ui.my.ChangeForResultActivity" />
        <activity android:name=".music.MusicDetailActivity" />
        <activity android:name=".music.MusicHomeActivity" />
        <activity android:name=".ui.MyOrderCenterEditActivity" />
        <activity android:name=".live.AbSearchActivity" />
        <activity android:name=".ui.SelectTopicActivity" />

        <service android:name=".music.service.PlayService" />

        <receiver android:name=".music.receiver.RemoteControlReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>
        <receiver android:name=".music.receiver.StatusBarReceiver">
            <intent-filter>
                <action android:name="STATUS_BAR_ACTIONS" />
            </intent-filter>
        </receiver>

        <activity android:name=".ui.RememberPassWordActivity" />
        <activity android:name=".ui.my.ChangePhoneActivity" />
        <activity android:name=".wxapi.WXEntryActivity" />
        <activity android:name=".wxapi.WXPayEntryActivity" />
        <activity android:name=".ui.zgactivity.ZgSearchResultActivity" />
        <activity android:name=".ui.home.HomeSearchActivity" />
        <activity android:name=".ui.HjSearchActivity" />
        <activity android:name=".ui.home.HomeGloryMagazineActivity" />
        <activity
            android:name=".live.LivingRoomActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".ui.zgactivity.ShareProfitActivity" />
        <activity android:name=".ui.home.MainGloryMagazineActivity" />
        <activity android:name=".ui.zgactivity.DiscoverActivity" />
        <activity android:name=".ui.home.MainMusicActivity" />
        <activity android:name=".ui.my.MySettedActivity"></activity>
    </application>

</manifest>