<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zsh.blackcard">

    <uses-permission android:name="android.permission.MANAGE_USERS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />


    <application
        android:name="com.zsh.blackcard.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.MainActivity"
            android:windowSoftInputMode="stateHidden|adjustPan|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.BlackWeiboActivity" />
        <activity android:name=".ui.ShoppingCarActivity" />
        <activity android:name=".ui.AddressEditActivity" />
        <activity android:name=".ui.AddressManageActivity" />
        <activity android:name=".ui.SbActivity" />
        <activity android:name=".ui.SbMyActivity" />
        <activity android:name=".ui.OrderDetailsActivity" />
        <activity android:name=".ui.IntegralActivity" />
        <activity android:name=".ui.CommodityActivity" />
        <activity android:name=".ui.CustomMadeActivity" />
        <activity android:name=".ui.ConfirmOrderActivity" />
        <activity android:name=".ui.LogisticsDetailsActivity" />
        <activity android:name=".ui.IntegralbillsActivity" />
        <activity android:name=".ui.DiscountCouponActivity" />
        <activity android:name=".ui.ShoppingDetailsActivity" />
        <activity android:name=".ui.DiscountExchangeActivity" />
        <activity android:name=".ui.CommonPassengerActivity" />
        <activity android:name=".ui.EatDrinkActivity" />
        <activity android:name=".ui.EatDrinkSetActivity" />
        <activity android:name=".ui.DetailsRequireActivity" />
        <activity android:name=".ui.GolfActivity" />
        <activity android:name=".ui.home.HomeCruiseShipActivity" />
        <activity android:name=".ui.home.HomePlaneActivity" />
        <activity android:name=".ui.home.HomeCarActivity" />
        <activity android:name=".ui.home.HomeEquestrianActivity" />
        <activity android:name=".ui.BlackCurrencyActivity" />
        <activity android:name=".ui.SbSetActivity" />
        <activity android:name=".ui.zgactivity.ZgHomeActivity" />
        <activity android:name=".ui.home.HomeHotelActivity" />
        <activity android:name=".ui.LoginActivity" />
        <activity android:name=".ui.live.LiveActivity" />
        <activity android:name=".ui.home.HomeTrainActivity" />
        <activity
            android:name=".ui.home.HomeFoodHotelActivity"
            android:windowSoftInputMode="stateHidden|adjustPan|stateHidden" />
        <activity android:name=".view.selectcity.SelectCityActivity" />
        <activity android:name=".ui.home.HomeFoodDetailActivity" />
        <activity android:name=".ui.home.HomeHotelDetailActivity" />
        <activity android:name=".ui.MyFriendActivity" />
        <activity android:name=".ui.VipCenterActivity" />
        <activity android:name=".ui.CusCenterActivity" />
        <activity android:name=".ui.WalletCenterActivity" />
        <activity android:name=".ui.zgactivity.BlackSurplusActivity" />
        <activity android:name=".ui.live.LiveRechargeActivity" />
        <activity android:name=".ui.live.RewardMoneyActivity" />
        <activity android:name=".ui.live.LiveRankActivity" />
        <activity android:name=".ui.live.LiveRoomActivity" />
        <activity android:name=".ui.live.LiveAnchorDetails" />
        <activity android:name=".ui.zgactivity.GameCenterActivity" />
        <activity android:name=".ui.MySettingActivity" />
        <activity android:name=".ui.HuoDongActivity" />
        <activity android:name=".ui.OrderCenterActivity" />
        <activity android:name=".ui.CircleCenterActivity" />
        <activity android:name=".ui.HouseCenterActivity" />
        <activity android:name=".ui.WalletCashActivity" />
        <activity android:name=".ui.CusCenterChatActivity" />
        <activity android:name=".ui.MyPowerActivity" />
        <activity android:name=".ui.ExChangeActivity" />
        <activity android:name=".ui.EatDrinkDetailActivity" />
        <activity android:name=".ui.zgactivity.GoodsCategoryActivity" />
        <activity android:name=".ui.zgactivity.DiscoverActivity" />
        <activity android:name=".ui.zgactivity.PersonalActivity" />
        <activity android:name=".ui.live.AbMyFollowActivity" />
        <activity android:name=".ui.live.AbMyContributionActivity" />
        <activity android:name=".ui.live.AbMyTaskActivity" />
        <activity android:name=".ui.live.AbMySignActivity" />
        <activity android:name=".ui.WelcomeActivity" />
        <activity android:name=".ui.RegisterActivity" />
        <activity android:name=".ui.home.HomeMoreActivity" />
        <activity android:name=".ui.home.CommentActivity" />
        <activity android:name=".ui.home.CommentEditActivity" />
        <activity android:name=".ui.home.HomeKTVDetailActivity" />
        <activity android:name=".ui.MsgCenterActivity" />
        <activity android:name=".ui.MsgSysCenterActivity" />
        <activity android:name=".ui.MsgSysDetailsActivity" />
        <activity android:name=".ui.MsgCenterDetailsActivity" />
        <activity android:name=".ui.TicketSearchActivity" />
        <activity android:name=".ui.TicketSeatActivity" />
        <activity android:name=".ui.TicketAddActivity" />
        <activity android:name=".ui.CommodityDetailBannerActivity" />
        <activity android:name=".ui.live.LiveOpenActivity" />
        <activity android:name=".ui.MyOrderActivity" />
        <activity android:name=".ui.CollectionActivity" />
        <activity android:name=".ui.live.LiveAnchorDetails2" />
        <activity android:name=".ui.live.VideoDetailsActivity" />
        <activity android:name=".ui.live.VideoIngActivity" />
        <activity android:name=".ui.live.AbMySettingActivity" />
        <activity android:name=".ui.home.HomeTopNewsDetailActivity" />
        <activity android:name=".ui.EatDrinkSetDetailActivity" />
        <activity android:name=".ui.OrderPayActivity" />
        <activity android:name=".ui.ZgPersonalTailorDetailActivity"></activity>
        <activity android:name=".ui.ZgSearchActivity"/>
        <activity android:name=".ui.home.HomeBarDetailActivity"></activity>
    </application>

</manifest>